<% include partials/_head_tag.ejs %>
<body>
  <%- include('partials/_navbar') %>
  <h2 class="page-title">The results:</h2>
  <p class="poll-question"><%= scores.question %></p>
  <div class="results">
    <div id ="result-1">
      <p><%= scores.answer_1 %></p>
      <p><%= scores.a1_score %></p>
    </div>
    <div id="result-2">
      <p><%= scores.answer_2 %></p>
      <p><%= scores.a2_score %></p>
    </div>
    <div id="result-3">
      <p><%= scores.answer_3 %></p>
      <p><%= scores.a3_score %></p>
    </div>
    <div id="result-4">
      <p><%= scores.answer_4 %></p>
      <p><%= scores.a4_score %></p>
    </div>
  </div>
</body>
</html>
