<% include partials/_head_tag.ejs %>
<body>
  <%- include('partials/_navbar') %>
  <main id="container">
  <h1 class="result-title">Your Results!</h1>
  <h2 class="poll_question"><%= scores.question %></h2>

  <div class="results">

    <div class="result-block" id ="result-1">
      <!-- <div id="winner-cont">
      <p class="winner">DECIDED!</p>
      </div> -->
    <div id="result-cont">
      <p class="result-text"><%= results[0].option %></p>
      <p class="result-percent">1st</p>
    </div>
      <span class="result-text"><%= results[0].option %></span>
      <span class="result-percent"><%= percentages[0] %>%</span>
    </div>

    <div class="result-block" id="result-2">
      <span class="result-text"><%= results[1].option %></span>
      <span class="result-percent"><%= percentages[1] %>%</span>
    </div>

    <div class="result-block" id="result-3">
      <span class="result-text"><%= results[2].option %></span>
      <span class="result-percent"><%= percentages[2] %>%</span>
    </div>

    <div class="result-block" id="result-4">
      <span class="result-text"><%= results[3].option %></span>
      <span class="result-percent"><%= percentages[3] %>%</span>
    </div>

  </div>
</main>
</body>
</html>
