<% include partials/_head_tag.ejs %>
<body>
  <%- include('partials/_navbar') %>
  <main id="container">
  <h1 class="result-title">Your Results!</h1>
  <h2 class="poll_question"><%= scores.question %></h2>

  <div class="results">

    <span class="winner">Decided!</span>
    <div class="result-block" id ="result-1">
      <span class="result-text"><%= results[0].option %></span>
      <span class="result-percent">1st</span>
    </div>

    <div class="result-block" id="result-2">
      <span class="result-text"><%= results[1].option %></span>
      <span class="result-percent">2nd</span>
    </div>

    <div class="result-block" id="result-3">
      <span class="result-text"><%= results[2].option %></span>
      <span class="result-percent">3rd</span>
    </div>

    <div class="result-block" id="result-4">
      <span class="result-text"><%= results[3].option %></span>
      <span class="result-percent">4th</span>
    </div>

  </div>
</main>
</body>
</html>
