<% include partials/_head_tag.ejs %>

<body>
  <%- include('partials/_navbar') %>
  <header>
    <h1 class="page-title">Rank these options!</h1>
  </header>
  <h2><%= poll.question %></h2>

  <form action="/api/polls/:id" method="post" class="vote-submission">
      <div class="option" draggable="true">
        <h3><%= poll.answer_1 %></h3>
        <p><%= poll.description_1 %></p>
      </div>
      <div class="option">
        <h3><%= poll.answer_2 %></h3>
        <p><%= poll.description_2 %></p>
      </div>
      <div class="option">
        <h3><%= poll.answer_3 %></h3>
        <p><%= poll.description_3 %></p>
      </div>
      <div class="option">
        <h3><%= poll.answer_4 %></h3>
        <p><%= poll.description_4 %></p>
      </div>

      <div class="voter_name">
        <% if(poll.name_required) { %>
          <input type="text" class="voter-input" placeholder="Name (required)" name="voter_name" required>
        <% } else { %>
          <input type="text" placeholder="Name (optional)" name="voter_name">
        <% } %>
      </div>

      <div class="poll-submit">
        <input type="submit" value="Submit your Rankings!">
      </div>
    </form>

</body>

</html>
