<% include partials/_head_tag.ejs %>

<body>
  <% include('partials/_navbar') %>
  <header>
    <h1 class="page-title">Rank these options!</h1>
  </header>
  <h2><%= poll.question %></h2>

  <form action="/api/polls/:id" method="post" class="vote_submission">

    <section id="sortable">
      <div class="option">
          <div class="option-info">
            <h3><%= poll.answer_1 %></h3>
            <p><%= poll.description_1 %></p>
          </div>
          <span class="order">
            1
            <input type="hidden" value="1">
          </span>
        </div>

        <div class="option">
          <div class="option-info">
            <h3><%= poll.answer_2 %></h3>
            <p><%= poll.description_2 %></p>
          </div>
          <span class="order">
            2
            <input type="hidden" value="2">
          </span>
        </div>

        <div class="option">
          <div class="option-info">
            <h3><%= poll.answer_3 %></h3>
            <p><%= poll.description_3 %></p>
          </div>
          <span class="order">
            3
            <input type="hidden" value="3">
          </span>
        </div>

        <div class="option">
          <div class="option-info">
            <h3><%= poll.answer_4 %></h3>
            <p><%= poll.description_4 %></p>
          </div>
          <span class="order">
            4
            <input type="hidden" value="4">
          </span>
        </div>
      </section>

      <div class="voter_name">
        <% if(poll.name_required) { %>
          <input type="text" class="voter-input" placeholder="Name (required)" name="voter_name" required>
        <% } else { %>
          <input type="text" placeholder="Name (optional)" name="voter_name">
        <% } %>
      </div>

      <div class="poll-submit">
        <input type="submit" value="Submit your Rankings!">
      </div>
    </form>

</body>

</html>
